<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://midpoint.evolveum.com/xml/ns/public/common/configuration-3">
  <midpoint>
    <repository>
      <type>postgresql</type>
      <jdbcUrl>jdbc:postgresql://iam-db-rw.iam.svc.cluster.local:5432/midpoint</jdbcUrl>
      <jdbcUsername>midpoint</jdbcUsername>
      <jdbcPassword>${env.MIDPOINT_DB_PASSWORD}</jdbcPassword>
      <driverClassName>org.postgresql.Driver</driverClassName>
      <hibernateHbm2ddl>update</hibernateHbm2ddl>
    </repository>
  </midpoint>
</configuration>
