<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://midpoint.evolveum.com/xml/ns/public/common/configuration-3">
  <midpoint>
    <webApplication>
      <importFolder>${midpoint.home}/import</importFolder>
    </webApplication>
    <repository>
      <type>native</type>
      <jdbcUrl>jdbc:postgresql://iam-db-rw.iam.svc.cluster.local:5432/midpoint</jdbcUrl>
      <jdbcUsername>${env.MIDPOINT_DB_USERNAME}</jdbcUsername>
      <jdbcPassword>${env.MIDPOINT_DB_PASSWORD}</jdbcPassword>
    </repository>
    <audit>
      <auditService>
        <auditServiceFactoryClass>com.evolveum.midpoint.audit.impl.LoggerAuditServiceFactory</auditServiceFactoryClass>
      </auditService>
      <auditService>
        <auditServiceFactoryClass>com.evolveum.midpoint.repo.sqale.audit.SqaleAuditServiceFactory</auditServiceFactoryClass>
      </auditService>
    </audit>
    <icf>
      <scanClasspath>true</scanClasspath>
      <scanDirectory>${midpoint.home}/icf-connectors</scanDirectory>
      <scanDirectory>${midpoint.home}/connid-connectors</scanDirectory>
    </icf>
    <keystore>
      <keyStorePath>${midpoint.home}/keystore.jceks</keyStorePath>
      <keyStorePassword>changeit</keyStorePassword>
      <encryptionKeyAlias>default</encryptionKeyAlias>
    </keystore>
  </midpoint>
</configuration>
