<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://midpoint.evolveum.com/xml/ns/public/common/configuration-3">
  <midpoint>
    <webApplication>
      <importFolder>${midpoint.home}/import</importFolder>
    </webApplication>
    <repository>
      <type>native</type>
      <!-- Populated by the midpoint-db-init init container at runtime. -->
      <jdbcUrl>__JDBC_URL__</jdbcUrl>
      <jdbcUsername>__JDBC_USERNAME__</jdbcUsername>
      <jdbcPassword>__JDBC_PASSWORD__</jdbcPassword>
    </repository>
    <audit>
      <auditService>
        <auditServiceFactoryClass>com.evolveum.midpoint.audit.impl.LoggerAuditServiceFactory</auditServiceFactoryClass>
      </auditService>
      <auditService>
        <auditServiceFactoryClass>com.evolveum.midpoint.repo.sqale.audit.SqaleAuditServiceFactory</auditServiceFactoryClass>
      </auditService>
    </audit>
    <icf>
      <scanClasspath>true</scanClasspath>
      <scanDirectory>${midpoint.home}/icf-connectors</scanDirectory>
      <scanDirectory>${midpoint.home}/connid-connectors</scanDirectory>
    </icf>
    <keystore>
      <keyStorePath>${midpoint.home}/keystore.jceks</keyStorePath>
      <keyStorePassword>changeit</keyStorePassword>
      <encryptionKeyAlias>default</encryptionKeyAlias>
    </keystore>
  </midpoint>
</configuration>
